

.pass-ctn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
}