html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
   
}

body {
   /* background-image: url("/src/assets/banner-transparente-fresas-rojas_197792-2475.jpg");*/
   background-image: url("/src/assets/ChatGPT Image Apr 17, 2026, 11_40_11 PM.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

*{
    font-family: "Montserrat", sans-serif;
}

#root {
  height: 100%;
  width: 100%;

}