html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff8fb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: background-image 0.3s ease;
}

body[data-route="/"] {
   background-image: url("./assets/ChatGPT Image May 14, 2026, 12_10_08 AM.png");
}

body[data-route="/game"] {
    background-image: url("./src/assets/ChatGPT Image Jul 6, 2026, 12_55_54 AM.png");
}

body[data-route="/draw"] {
    background-image: url("./src/assets/ChatGPT Image Jul 6, 2026, 01_13_25 AM.png");
}

body[data-route="/votations"] {
    background-image: url("./src/assets/ChatGPT Image Jul 6, 2026, 12_32_33 AM.png");
}

body[data-route="/win"] {
    background-image: url("./src/assets/ChatGPT Image May 13, 2026, 01_24_52 AM.png");
}

*{
    font-family: "Montserrat", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}